.container{
	padding-top:10rem;
}

#page-wrapper {
  width: 83%;        
  float: right;
  background-color: #fff;
}
@media(min-width:500px) {
  #wrapper {
      padding-left: 225px;
  }

  #page-wrapper {
      padding: 22px 10px;
  }
}


label.error {
    color: red;
    font-size: small;
    font-style: italic;
    font-weight: lighter;
    margin: 0;
}

.click-register {
    margin-top: 2rem;
}
.click-register:hover,
.click-register:active,
.click-register:focus{
    color: rgb(4, 107, 110);
}

.sidebar {
  
  position: fixed;
  top: 52px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  display: block;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto; 
  background-color: #f5f5f5;
  border-right: 1px solid #eee; 

}
#nav_list {
  max-width: 100%;
  border: 1px solid rgb(212, 212, 212);
  border-right: 0px;
}
#full_w {
  padding-top: 10px;
  padding-left: 0px;
  padding-right: 0px;
}
#icon_s {
  padding-right: .5em;
}

#mess_alert{
  display: none;
}