<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://JAVA.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
  <display-name>Archetype Created Web Application</display-name>
  <welcome-file-list>
		<welcome-file>Init</welcome-file>
	</welcome-file-list>

	<listener>
		<listener-class>org.apache.tiles.extras.complete.CompleteAutoloadTilesListener
		</listener-class>
	</listener>

	<servlet>
		<servlet-name>Tiles Dispatch</servlet-name>
		<servlet-class>org.apache.tiles.web.util.TilesDispatchServlet
		</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>UserLoginServlet</display-name>
		<servlet-name>UserLoginServlet</servlet-name>
		<servlet-class>controller.UserLoginServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>UserProfileServlet</display-name>
		<servlet-name>UserProfileServlet</servlet-name>
		<servlet-class>controller.UserProfileServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>UserRegisterServlet</display-name>
		<servlet-name>UserRegisterServlet</servlet-name>
		<servlet-class>controller.UserRegisterServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>InitServlet</display-name>
		<servlet-name>InitServlet</servlet-name>
		<servlet-class>controller.InitServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>UserProfileServlet</display-name>
		<servlet-name>UserProfileServlet</servlet-name>
		<servlet-class>controller.UserProfileServlet</servlet-class>
	</servlet>
	<servlet>
		<display-name>ViewContentServlet</display-name>
		<servlet-name>ViewContentServlet</servlet-name>
		<servlet-class>controller.ViewContentServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>CreateAndEditContentServlet</display-name>
		<servlet-name>CreateAndEditContentServlet</servlet-name>
		<servlet-class>controller.CreateAndEditContentServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>DeleteContent</display-name>
		<servlet-name>DeleteContent</servlet-name>
		<servlet-class>controller.DeleteContent</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ViewContentAllServlet</display-name>
		<servlet-name>ViewContentAllServlet</servlet-name>
		<servlet-class>controller.ViewContentAllServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Tiles Dispatch</servlet-name>
		<url-pattern>*.tiles</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UserLoginServlet</servlet-name>
		<url-pattern>/Login</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UserRegisterServlet</servlet-name>
		<url-pattern>/Register</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>InitServlet</servlet-name>
		<url-pattern>/Init</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UserProfileServlet</servlet-name>
		<url-pattern>/Profile</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ViewContentServlet</servlet-name>
		<url-pattern>/ViewContentServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CreateAndEditContentServlet</servlet-name>
		<url-pattern>/CreateAndEditContentServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteContent</servlet-name>
		<url-pattern>/DeleteContent</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ViewContentAllServlet</servlet-name>
		<url-pattern>/ViewContentAllServlet</url-pattern>
	</servlet-mapping>
</web-app>
